{% extends 'base.html'%}
{% load static %}
{% block content %}




</div>


   <div class="ne"><iframe width="460" height="315"  src="https://www.youtube.com/embed/JhigElj5Jto?autoplay=1&amp;loop=1&amp;&rel=0" frameborder="0" allowfullscreen></iframe></div>

<style>
.ne{
    bottom:12px;
    margin-left:450px;
    width: 1100px;
    height: 1100px;
    background-image: url({%static 'images/holodilnik-miele-147934.jpg' %});
    background-repeat: no-repeat;
    background-size: 100% 100%;

    }
.ne iframe{
    margin-left:170px;
    margin-top:250px;
    }

</style>

{% endblock %}
